pkgbase = pakakeh.go-tools
	pkgdesc = Miscellaneous CLI tools: ansua, bcrypt, epoch, ini, xtrk
	pkgver = 0.53.1.r42.g1ffdc03b
	pkgrel = 1
	url = https://sr.ht/~shulhan/pakakeh.go
	arch = x86_64
	license = BSD
	makedepends = go
	makedepends = git
	provides = pakakeh.go-tools
	conflicts = share-tools
	replaces = share-tools
	source = pakakeh.go-tools-local::git+file:///home/ms/go/src/git.sr.ht/~shulhan/pakakeh.go#branch=dev
	md5sums = SKIP

pkgname = pakakeh.go-tools
