*.prof
*.save
*.test
/cmd/smtpcli/smtpcli
/gofmtcomment
/lib/dns/testdata/hosts.block.out
/lib/email/maildir/testdata/
/lib/git/testdata/beku_test
/lib/memfs/generate_test/memfs_generate.go
/lib/websocket/testdata/.Python
/lib/websocket/testdata/bin
/lib/websocket/testdata/client/client
/lib/websocket/testdata/client/reports
/lib/websocket/testdata/include
/lib/websocket/testdata/lib
/lib/websocket/testdata/pip-selfcheck.json
/lib/websocket/testdata/server/reports
/lib/websocket/testdata/server/server
cover.*
