*.bak
*.bench
*.cprof
*.csv
*.dat
*.mprof
*.oob
*.perf
*.prof
*.rej
*.save
*.sh
*.stat
*.stats
*.test
/cmd/smtpcli/smtpcli
/gofmtcomment
/lib/dns/testdata/hosts.block.out
/lib/dsv/rejected.dat
/lib/dsv/testdata/output.dat
/lib/dsv/testdata/output_merge_columns.dat
/lib/dsv/testdata/output_merge_rows.dat
/lib/dsv/testdata/output_skip.dat
/lib/dsv/testdata/rejected.dat
/lib/dsv/testdata/writerawcolumns.out
/lib/dsv/testdata/writerawrows.out
/lib/email/maildir/testdata/
/lib/git/testdata/repotest
/lib/git/testdata/beku_test
/lib/io/testdata/output.txt
/lib/mining/cmd/cart/cart
/lib/mining/cmd/crf/crf
/lib/mining/cmd/lnsmote/lnsmote
/lib/mining/cmd/rf/rf
/lib/mining/cmd/smote/smote
/lib/mining/resampling/lnsmote/lnsmote.outliers
/lib/mining/resampling/lnsmote/phoneme_lnsmote.csv
/lib/mining/resampling/lnsmote/synthetic.csv
/lib/mining/resampling/smote/phoneme_smote.csv
/lib/mining/resampling/smote/synthetic.csv
/lib/mining/resampling/smote/testdata/phoneme.csv
/lib/mining/testdata/phoneme/phoneme.csv
/lib/websocket/examples/cmd/client/client
/lib/websocket/examples/cmd/server/server
/lib/websocket/testdata/.Python
/lib/websocket/testdata/bin
/lib/websocket/testdata/client/client
/lib/websocket/testdata/client/reports
/lib/websocket/testdata/include
/lib/websocket/testdata/lib
/lib/websocket/testdata/pip-selfcheck.json
/lib/websocket/testdata/server/reports
/lib/websocket/testdata/server/server
cover.*
