<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#375EAB" />

		<title>{{.Title}}</title>
		{{- range .Styles}}
		<link rel="stylesheet" href="{{.}}" />
		{{- end}}
	</head>
	<body>
		<div class="topbar">
			<div class="container">
				<div class="top-heading">
					<a href="/">github.com/shuLhan/share</a>
				</div>
				<div class="menu">
					<a href="https://godoc.org/github.com/shuLhan/share">GoDoc</a>
				</div>
				<div class="menu">
					<a href="/CHANGELOG.html">Changelog</a>
				</div>
			</div>
		</div>

		<div class="page">
			<div class="container">
				<h1>{{.Title}}</h1>
				{{.Body}}
			</div>
			<!-- .container -->
		</div>
		<!-- .page -->

		<div class="footer">
			Copyright 2019, Shulhan &lt;ms@kilabit.info&gt;. All rights reserved.
			<br />
			Use of this source code is governed by a BSD-style license that can be
			found in the <a href="/LICENSE">LICENSE</a> file.
		</div>
	</body>
</html>
