# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: 2019 M. Shulhan <ms@kilabit.info>

name: Go1.25.0
permissions:
  contents: read
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: "^1.25.0"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Build
        run: make build

      - name: Test
        run: make test
